root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 100
tab_width = 4

[{*.kt,*.kts}]
ktlint_standard_final-newline = disabled
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_function-naming = disabled
ktlint_standard_function-signature = disabled
ktlint_standard_block-comment-initial-star-alignment = disabled
ktlint_standard_comment-spacing = disabled
ktlint_standard_import-ordering = disabled
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_no-blank-line-in-list = disabled
ktlint_standard_string-template = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled
